In [1]:
import warnings
import pandas as pd    # Pandas
import numpy as np     # Numpy

from tqdm import tqdm                                   # Progress bar
from datetime import date, time, datetime               #date

In [2]:
dfAdmissions = pd.read_csv("admissions.csv")
dfPatients = pd.read_csv("patients.csv")

leggo i dataset, li visualizzo e con .info inizio a farmi un'idea dei dati contenuti

In [3]:
dfAdmissions

,subject_id,hadm_id,admittime,dischtime,deathtime,admission_type,admission_location,discharge_location,insurance,language,marital_status,ethnicity,edregtime,edouttime,hospital_expire_flag
0,14679932,21038362,2139-09-26 14:16:00,2139-09-28 11:30:00,NaN,ELECTIVE,NaN,HOME,Other,ENGLISH,SINGLE,UNKNOWN,NaN,NaN,0
1,15585972,24941086,2123-10-07 23:56:00,2123-10-12 11:22:00,NaN,ELECTIVE,NaN,HOME,Other,ENGLISH,NaN,WHITE,NaN,NaN,0
2,11989120,21965160,2147-01-14 09:00:00,2147-01-17 14:25:00,NaN,ELECTIVE,NaN,HOME,Other,ENGLISH,NaN,UNKNOWN,NaN,NaN,0
3,17817079,24709883,2165-12-27 17:33:00,2165-12-31 21:18:00,NaN,ELECTIVE,NaN,HOME,Other,ENGLISH,NaN,OTHER,NaN,NaN,0
4,15078341,23272159,2122-08-28 08:48:00,2122-08-30 12:32:00,NaN,ELECTIVE,NaN,HOME,Other,ENGLISH,NaN,BLACK/AFRICAN AMERICAN,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
523735,17892964,20786062,2180-09-17 00:00:00,2180-09-18 13:37:00,NaN,SURGICAL SAME DAY ADMISSION,PHYSICIAN REFERRAL,HOME,Medicare,ENGLISH,SINGLE,WHITE,NaN,NaN,0
523736,17137572,20943099,2147-08-01 17:41:00,2147-08-02 17:30:00,NaN,EW EMER.,TRANSFER FROM HOSPITAL,HOME,Other,ENGLISH,DIVORCED,HISPANIC/LATINO,2147-07-31 23:55:00,2147-08-01 19:37:00,0
523737,19389857,23176714,2189-03-01 00:58:00,2189-03-02 15:22:00,NaN,SURGICAL SAME DAY ADMISSION,PHYSICIAN REFERRAL,HOME,Other,ENGLISH,MARRIED,WHITE,NaN,NaN,0
523738,12298845,22347500,2138-05-31 00:00:00,2138-06-04 16:50:00,NaN,SURGICAL SAME DAY ADMISSION,PHYSICIAN REFERRAL,HOME HEALTH CARE,Other,ENGLISH,MARRIED,WHITE,NaN,NaN,0
523739,11211939,24981356,2147-08-02 15:49:00,2147-08-05 16:30:00,NaN,EW EMER.,EMERGENCY ROOM,HOME HEALTH CARE,Medicare,?,WIDOWED,WHITE,2147-08-02 14:27:00,2147-08-02 17:38:00,0

In [4]:
dfAdmissions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 523740 entries, 0 to 523739
Data columns (total 15 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   subject_id            523740 non-null  int64
 1   hadm_id               523740 non-null  int64
 2   admittime             523740 non-null  object
 3   dischtime             523740 non-null  object
 4   deathtime             9337 non-null    object
 5   admission_type        523740 non-null  object
 6   admission_location    463305 non-null  object
 7   discharge_location    397083 non-null  object
 8   insurance             523740 non-null  object
 9   language              523740 non-null  object
 10  marital_status        457633 non-null  object
 11  ethnicity             523740 non-null  object
 12  edregtime             311504 non-null  object
 13  edouttime             311504 non-null  object
 14  hospital_expire_flag  523740 non-null  int64
dtypes: int64(3), object(12)
memory usage: 59.9+ MB

In [5]:
dfPatients

        subject_id gender  anchor_age  anchor_year anchor_year_group  dod
0         10000048      F          23         2126       2008 - 2010  NaN
1         10002723      F           0         2128       2017 - 2019  NaN
2         10003939      M           0         2184       2008 - 2010  NaN
3         10004222      M           0         2161       2014 - 2016  NaN
4         10005325      F           0         2154       2011 - 2013  NaN
...            ...    ...         ...          ...               ...  ...
382273    19998203      M          29         2132       2011 - 2013  NaN
382274    19998350      M          52         2127       2011 - 2013  NaN
382275    19999068      M          63         2161       2011 - 2013  NaN
382276    19999270      M          33         2184       2014 - 2016  NaN
382277    19999298      M          20         2177       2011 - 2013  NaN

[382278 rows x 6 columns]

In [6]:
dfPatients.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 382278 entries, 0 to 382277
Data columns (total 6 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   subject_id         382278 non-null  int64
 1   gender             382278 non-null  object
 2   anchor_age         382278 non-null  int64
 3   anchor_year        382278 non-null  int64
 4   anchor_year_group  382278 non-null  object
 5   dod                9509 non-null    object
dtypes: int64(3), object(3)
memory usage: 17.5+ MB

dal dataframe admissions elimino le colonne edgregtime e edouttime in quanto forniscono dati poco utili, poco utilizzabili e per di piÃ¹ con molti dati mancanti
elimino anche la colonna deathtime in quanto la colonna hospital expire flag mi fornisce giÃ  il dato della morte dei pazienti come valore 1/0

In [7]:
dfAdmissions.drop(labels=['edregtime','edouttime','deathtime'], axis=1, inplace=True)

dal dataframe dei pazienti elimino le colonne dod e anchor year group in quanto la prima mi fornisce un dato ridondante che gia possiedo nella tablla delle ammissioni sulla morte del paziente e la seconda non Ã¨ necessaria per risalire all'etÃ  del paziente una volta unita la tabella dei pazienti alla tabella delle ammissioni

In [8]:
dfPatients.drop(labels=['dod','anchor_year_group'], axis=1, inplace=True)

eseguo il merge delle due tabelle sull'id dell'ammissione in modo che ho una tabella con tutte le ammissioni a cui vengono aggiunti i dati del paziente che ha acceduto all'ospedale

In [9]:
result = pd.merge(dfAdmissions, dfPatients, how='left', left_on='subject_id', right_on='subject_id')

In [10]:
result

,subject_id,hadm_id,admittime,dischtime,admission_type,admission_location,discharge_location,insurance,language,marital_status,ethnicity,hospital_expire_flag,gender,anchor_age,anchor_year
0,14679932,21038362,2139-09-26 14:16:00,2139-09-28 11:30:00,ELECTIVE,NaN,HOME,Other,ENGLISH,SINGLE,UNKNOWN,0,F,0,2139
1,15585972,24941086,2123-10-07 23:56:00,2123-10-12 11:22:00,ELECTIVE,NaN,HOME,Other,ENGLISH,NaN,WHITE,0,F,0,2123
2,11989120,21965160,2147-01-14 09:00:00,2147-01-17 14:25:00,ELECTIVE,NaN,HOME,Other,ENGLISH,NaN,UNKNOWN,0,M,0,2147
3,17817079,24709883,2165-12-27 17:33:00,2165-12-31 21:18:00,ELECTIVE,NaN,HOME,Other,ENGLISH,NaN,OTHER,0,F,0,2165
4,15078341,23272159,2122-08-28 08:48:00,2122-08-30 12:32:00,ELECTIVE,NaN,HOME,Other,ENGLISH,NaN,BLACK/AFRICAN AMERICAN,0,M,0,2122
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
523735,17892964,20786062,2180-09-17 00:00:00,2180-09-18 13:37:00,SURGICAL SAME DAY ADMISSION,PHYSICIAN REFERRAL,HOME,Medicare,ENGLISH,SINGLE,WHITE,0,M,31,2178
523736,17137572,20943099,2147-08-01 17:41:00,2147-08-02 17:30:00,EW EMER.,TRANSFER FROM HOSPITAL,HOME,Other,ENGLISH,DIVORCED,HISPANIC/LATINO,0,F,45,2147
523737,19389857,23176714,2189-03-01 00:58:00,2189-03-02 15:22:00,SURGICAL SAME DAY ADMISSION,PHYSICIAN REFERRAL,HOME,Other,ENGLISH,MARRIED,WHITE,0,M,76,2189
523738,12298845,22347500,2138-05-31 00:00:00,2138-06-04 16:50:00,SURGICAL SAME DAY ADMISSION,PHYSICIAN REFERRAL,HOME HEALTH CARE,Other,ENGLISH,MARRIED,WHITE,0,F,48,2138
523739,11211939,24981356,2147-08-02 15:49:00,2147-08-05 16:30:00,EW EMER.,EMERGENCY ROOM,HOME HEALTH CARE,Medicare,?,WIDOWED,WHITE,0,F,85,2146

calcolo l'etÃ  dei pazienti in ogni ammissione

In [11]:
def ageCalculator(df):
    age=[]
    for i in tqdm(range(0, len(df))):
        anchor_age = df['anchor_age'][i]
        anchor_year = df['anchor_year'][i]
        
        row = df['admittime'][i]
        year = row.split('-')[0]
        admitYear = int(year)
        
        value = anchor_age + (admitYear - anchor_year)
        
        age.append(value)
    
    df['age'] = age

In [12]:
ageCalculator(result)

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 523740/523740 [00:07<00:00, 69596.85it/s]

In [13]:
result

,subject_id,hadm_id,admittime,dischtime,admission_type,admission_location,discharge_location,insurance,language,marital_status,ethnicity,hospital_expire_flag,gender,anchor_age,anchor_year,age
0,14679932,21038362,2139-09-26 14:16:00,2139-09-28 11:30:00,ELECTIVE,NaN,HOME,Other,ENGLISH,SINGLE,UNKNOWN,0,F,0,2139,0
1,15585972,24941086,2123-10-07 23:56:00,2123-10-12 11:22:00,ELECTIVE,NaN,HOME,Other,ENGLISH,NaN,WHITE,0,F,0,2123,0
2,11989120,21965160,2147-01-14 09:00:00,2147-01-17 14:25:00,ELECTIVE,NaN,HOME,Other,ENGLISH,NaN,UNKNOWN,0,M,0,2147,0
3,17817079,24709883,2165-12-27 17:33:00,2165-12-31 21:18:00,ELECTIVE,NaN,HOME,Other,ENGLISH,NaN,OTHER,0,F,0,2165,0
4,15078341,23272159,2122-08-28 08:48:00,2122-08-30 12:32:00,ELECTIVE,NaN,HOME,Other,ENGLISH,NaN,BLACK/AFRICAN AMERICAN,0,M,0,2122,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
523735,17892964,20786062,2180-09-17 00:00:00,2180-09-18 13:37:00,SURGICAL SAME DAY ADMISSION,PHYSICIAN REFERRAL,HOME,Medicare,ENGLISH,SINGLE,WHITE,0,M,31,2178,33
523736,17137572,20943099,2147-08-01 17:41:00,2147-08-02 17:30:00,EW EMER.,TRANSFER FROM HOSPITAL,HOME,Other,ENGLISH,DIVORCED,HISPANIC/LATINO,0,F,45,2147,45
523737,19389857,23176714,2189-03-01 00:58:00,2189-03-02 15:22:00,SURGICAL SAME DAY ADMISSION,PHYSICIAN REFERRAL,HOME,Other,ENGLISH,MARRIED,WHITE,0,M,76,2189,76
523738,12298845,22347500,2138-05-31 00:00:00,2138-06-04 16:50:00,SURGICAL SAME DAY ADMISSION,PHYSICIAN REFERRAL,HOME HEALTH CARE,Other,ENGLISH,MARRIED,WHITE,0,F,48,2138,48
523739,11211939,24981356,2147-08-02 15:49:00,2147-08-05 16:30:00,EW EMER.,EMERGENCY ROOM,HOME HEALTH CARE,Medicare,?,WIDOWED,WHITE,0,F,85,2146,86

controllo i generi e li sostituisco con 0 e 1

In [14]:
result['gender'].unique()

array(['F', 'M'], dtype=object)

In [15]:
result["gender"].replace({"M": 1, "F": 0}, inplace=True)

In [16]:
result

,subject_id,hadm_id,admittime,dischtime,admission_type,admission_location,discharge_location,insurance,language,marital_status,ethnicity,hospital_expire_flag,gender,anchor_age,anchor_year,age
0,14679932,21038362,2139-09-26 14:16:00,2139-09-28 11:30:00,ELECTIVE,NaN,HOME,Other,ENGLISH,SINGLE,UNKNOWN,0,0,0,2139,0
1,15585972,24941086,2123-10-07 23:56:00,2123-10-12 11:22:00,ELECTIVE,NaN,HOME,Other,ENGLISH,NaN,WHITE,0,0,0,2123,0
2,11989120,21965160,2147-01-14 09:00:00,2147-01-17 14:25:00,ELECTIVE,NaN,HOME,Other,ENGLISH,NaN,UNKNOWN,0,1,0,2147,0
3,17817079,24709883,2165-12-27 17:33:00,2165-12-31 21:18:00,ELECTIVE,NaN,HOME,Other,ENGLISH,NaN,OTHER,0,0,0,2165,0
4,15078341,23272159,2122-08-28 08:48:00,2122-08-30 12:32:00,ELECTIVE,NaN,HOME,Other,ENGLISH,NaN,BLACK/AFRICAN AMERICAN,0,1,0,2122,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
523735,17892964,20786062,2180-09-17 00:00:00,2180-09-18 13:37:00,SURGICAL SAME DAY ADMISSION,PHYSICIAN REFERRAL,HOME,Medicare,ENGLISH,SINGLE,WHITE,0,1,31,2178,33
523736,17137572,20943099,2147-08-01 17:41:00,2147-08-02 17:30:00,EW EMER.,TRANSFER FROM HOSPITAL,HOME,Other,ENGLISH,DIVORCED,HISPANIC/LATINO,0,0,45,2147,45
523737,19389857,23176714,2189-03-01 00:58:00,2189-03-02 15:22:00,SURGICAL SAME DAY ADMISSION,PHYSICIAN REFERRAL,HOME,Other,ENGLISH,MARRIED,WHITE,0,1,76,2189,76
523738,12298845,22347500,2138-05-31 00:00:00,2138-06-04 16:50:00,SURGICAL SAME DAY ADMISSION,PHYSICIAN REFERRAL,HOME HEALTH CARE,Other,ENGLISH,MARRIED,WHITE,0,0,48,2138,48
523739,11211939,24981356,2147-08-02 15:49:00,2147-08-05 16:30:00,EW EMER.,EMERGENCY ROOM,HOME HEALTH CARE,Medicare,?,WIDOWED,WHITE,0,0,85,2146,86

droppo le colonne anchor age e anchor year dato che ho giÃ  calcolato l'etÃ

In [17]:
result.drop(labels=['anchor_age','anchor_year'], axis=1, inplace=True)

ordino il dataframe in base al subject id e in base alla data di ammissione in modo da avere tutte le ammissioni dello stesso paziente vicine e in ordine di data

In [18]:
result = result.sort_values(["subject_id", "admittime"], ascending = (True, True))
result = result.reset_index(drop=True)
result

,subject_id,hadm_id,admittime,dischtime,admission_type,admission_location,discharge_location,insurance,language,marital_status,ethnicity,hospital_expire_flag,gender,age
0,10000019,25058216,2129-05-21 19:16:00,2129-05-23 18:30:00,ELECTIVE,NaN,HOME,Other,ENGLISH,NaN,WHITE,0,1,0
1,10000032,22595853,2180-05-06 22:23:00,2180-05-07 17:15:00,URGENT,TRANSFER FROM HOSPITAL,HOME,Other,ENGLISH,WIDOWED,WHITE,0,0,52
2,10000032,22841357,2180-06-26 18:27:00,2180-06-27 18:49:00,EW EMER.,EMERGENCY ROOM,HOME,Medicaid,ENGLISH,WIDOWED,WHITE,0,0,52
3,10000032,29079034,2180-07-23 12:35:00,2180-07-25 17:55:00,EW EMER.,EMERGENCY ROOM,HOME,Medicaid,ENGLISH,WIDOWED,WHITE,0,0,52
4,10000032,25742920,2180-08-05 23:44:00,2180-08-07 17:50:00,EW EMER.,EMERGENCY ROOM,HOSPICE,Medicaid,ENGLISH,WIDOWED,WHITE,0,0,52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
523735,19999828,29734428,2147-07-18 16:23:00,2147-08-04 18:10:00,EW EMER.,PHYSICIAN REFERRAL,HOME HEALTH CARE,Other,ENGLISH,SINGLE,WHITE,0,0,46
523736,19999828,25744818,2149-01-08 16:44:00,2149-01-18 17:00:00,EW EMER.,TRANSFER FROM HOSPITAL,HOME HEALTH CARE,Other,ENGLISH,SINGLE,WHITE,0,0,48
523737,19999840,26071774,2164-07-25 00:27:00,2164-07-28 12:15:00,EW EMER.,EMERGENCY ROOM,HOME,Other,ENGLISH,WIDOWED,WHITE,0,1,58
523738,19999840,21033226,2164-09-10 13:47:00,2164-09-17 13:42:00,EW EMER.,EMERGENCY ROOM,DIED,Other,ENGLISH,WIDOWED,WHITE,1,1,58
523739,19999987,23865745,2145-11-02 21:38:00,2145-11-11 12:57:00,EW EMER.,EMERGENCY ROOM,REHAB,Other,ENGLISH,NaN,UNKNOWN,0,0,57

per ogni ammissione verifico che lo stesso paziente abbia un'ammissione successiva e se si calcolo quanto tempo dopo Ã¨ rientrato in ospedale e lo assegno a una delle seguenti categorie:
riammesso entro 30 giorni;
riammesso entro 90 giorni;
riammesso entro 365 giorni;
riammesso oltre i 365 giorni.

In [19]:
def addIntoDaysColumn(lists, d30, d90, d365, d365p):
    lists[0].append(d30)
    lists[1].append(d90)
    lists[2].append(d365)
    lists[3].append(d365p)

def riadmissionCalculator(df):
    days30 = []
    days90 = []
    days365 = []
    days365plus = []
    lists = [days30, days90, days365, days365plus]
    
    #if(len(df) != 0):
    #     subject_id = df['subject_id'][0]
    #else:
    #    return
    
    for i in tqdm(range(0, len(df)-1)):
        subject_id = df['subject_id'][i]
        subject_id_succ = df['subject_id'][i+1]
        
        if (subject_id == subject_id_succ):
            disch = datetime.strptime(df['dischtime'][i],   '%Y-%m-%d %H:%M:%S')
            admit = datetime.strptime(df['admittime'][i+1], '%Y-%m-%d %H:%M:%S')
            
            diff = (admit - disch).days
            
            if(diff <= 30):
                addIntoDaysColumn(lists, 1, 0, 0, 0)
                
            elif(diff <= 90):
                addIntoDaysColumn(lists, 0, 1, 0, 0)
            
            elif(diff <= 365):
                addIntoDaysColumn(lists, 0, 0, 1, 0)
            
            else:
                addIntoDaysColumn(lists, 0, 0, 0, 1)
            
        else:
            addIntoDaysColumn(lists, 0, 0, 0, 0)
            
    addIntoDaysColumn(lists, 0, 0, 0, 0)
    
    df['riad 30d'] = days30
    df['riad 90d'] = days90
    df['riad 365d'] = days365
    df['riad +365d'] = days365plus

In [20]:
riadmissionCalculator(result)

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 523739/523739 [00:12<00:00, 43019.03it/s]

In [21]:
result

,subject_id,hadm_id,admittime,dischtime,admission_type,admission_location,discharge_location,insurance,language,marital_status,ethnicity,hospital_expire_flag,gender,age,riad 30d,riad 90d,riad 365d,riad +365d
0,10000019,25058216,2129-05-21 19:16:00,2129-05-23 18:30:00,ELECTIVE,NaN,HOME,Other,ENGLISH,NaN,WHITE,0,1,0,0,0,0,0
1,10000032,22595853,2180-05-06 22:23:00,2180-05-07 17:15:00,URGENT,TRANSFER FROM HOSPITAL,HOME,Other,ENGLISH,WIDOWED,WHITE,0,0,52,0,1,0,0
2,10000032,22841357,2180-06-26 18:27:00,2180-06-27 18:49:00,EW EMER.,EMERGENCY ROOM,HOME,Medicaid,ENGLISH,WIDOWED,WHITE,0,0,52,1,0,0,0
3,10000032,29079034,2180-07-23 12:35:00,2180-07-25 17:55:00,EW EMER.,EMERGENCY ROOM,HOME,Medicaid,ENGLISH,WIDOWED,WHITE,0,0,52,1,0,0,0
4,10000032,25742920,2180-08-05 23:44:00,2180-08-07 17:50:00,EW EMER.,EMERGENCY ROOM,HOSPICE,Medicaid,ENGLISH,WIDOWED,WHITE,0,0,52,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
523735,19999828,29734428,2147-07-18 16:23:00,2147-08-04 18:10:00,EW EMER.,PHYSICIAN REFERRAL,HOME HEALTH CARE,Other,ENGLISH,SINGLE,WHITE,0,0,46,0,0,0,1
523736,19999828,25744818,2149-01-08 16:44:00,2149-01-18 17:00:00,EW EMER.,TRANSFER FROM HOSPITAL,HOME HEALTH CARE,Other,ENGLISH,SINGLE,WHITE,0,0,48,0,0,0,0
523737,19999840,26071774,2164-07-25 00:27:00,2164-07-28 12:15:00,EW EMER.,EMERGENCY ROOM,HOME,Other,ENGLISH,WIDOWED,WHITE,0,1,58,0,1,0,0
523738,19999840,21033226,2164-09-10 13:47:00,2164-09-17 13:42:00,EW EMER.,EMERGENCY ROOM,DIED,Other,ENGLISH,WIDOWED,WHITE,1,1,58,0,0,0,0
523739,19999987,23865745,2145-11-02 21:38:00,2145-11-11 12:57:00,EW EMER.,EMERGENCY ROOM,REHAB,Other,ENGLISH,NaN,UNKNOWN,0,0,57,0,0,0,0

In [22]:
result.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 523740 entries, 0 to 523739
Data columns (total 18 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   subject_id            523740 non-null  int64
 1   hadm_id               523740 non-null  int64
 2   admittime             523740 non-null  object
 3   dischtime             523740 non-null  object
 4   admission_type        523740 non-null  object
 5   admission_location    463305 non-null  object
 6   discharge_location    397083 non-null  object
 7   insurance             523740 non-null  object
 8   language              523740 non-null  object
 9   marital_status        457633 non-null  object
 10  ethnicity             523740 non-null  object
 11  hospital_expire_flag  523740 non-null  int64
 12  gender                523740 non-null  int64
 13  age                   523740 non-null  int64
 14  riad 30d              523740 non-null  int64
 15  riad 90d              523740 non-null  int64
 16  riad 365d             523740 non-null  int64
 17  riad +365d            523740 non-null  int64
dtypes: int64(9), object(9)
memory usage: 71.9+ MB

In [23]:
result.to_csv('admpat.csv', index=False)