In [1]:
import pandas as pd
import os
import matplotlib.pyplot as plt
import seaborn as sns
from tqdm import tqdm

import warnings
warnings.filterwarnings("ignore")

In [2]:
diagnoses = pd.read_csv('./hosp/diagnoses_icd.csv')

In [3]:
diagnoses

         subject_id   hadm_id  seq_num icd_code  icd_version
0          15734973  20475282        3     2825            9
1          15734973  20475282        2    V0251            9
2          15734973  20475282        5     V270            9
3          15734973  20475282        1    64891            9
4          15734973  20475282        4    66481            9
...             ...       ...      ...      ...          ...
5280346    13747041  25594844        6     R531           10
5280347    13747041  25594844        8    R0902           10
5280348    13747041  25594844        4    F1120           10
5280349    13747041  25594844        2     J189           10
5280350    13747041  25594844        5     N179           10

[5280351 rows x 5 columns]

verifico quali tipologie di icd sono presenti e ne valuto le occorrenze

In [4]:
diagnoses.icd_version.unique()

array([ 9, 10], dtype=int64)

In [5]:
diagnoses.icd_version.value_counts()

9     3090370
10    2189981
Name: icd_version, dtype: int64

vado a salvarmi in due dataframe distinti le tuple che hanno un codice icd in versione 9 e quelle che hanno un codicee icd in versione 10

In [6]:
dfIcd9 = diagnoses[diagnoses['icd_version']==9]

In [7]:
dfIcd10 = diagnoses[diagnoses['icd_version']==10]

In [8]:
dfIcd9

         subject_id   hadm_id  seq_num icd_code  icd_version
0          15734973  20475282        3     2825            9
1          15734973  20475282        2    V0251            9
2          15734973  20475282        5     V270            9
3          15734973  20475282        1    64891            9
4          15734973  20475282        4    66481            9
...             ...       ...      ...      ...          ...
3105807    14396614  29918558        5     7242            9
3105809    14396614  29918558        6    V4987            9
3105810    14396614  29918558        1    78659            9
3106107    18564065  21575927        2     7840            9
3106108    18564065  21575927        1    67484            9

[3090370 rows x 5 columns]

In [9]:
dfIcd10

         subject_id   hadm_id  seq_num icd_code  icd_version
2670103    18335503  21596415        2     E861           10
2670104    18335503  21596415        5   O99512           10
2670105    18335503  21596415        6   J45909           10
2670106    18335503  21596415        1   O99612           10
2670107    18335503  21596415        7   O99282           10
...             ...       ...      ...      ...          ...
5280346    13747041  25594844        6     R531           10
5280347    13747041  25594844        8    R0902           10
5280348    13747041  25594844        4    F1120           10
5280349    13747041  25594844        2     J189           10
5280350    13747041  25594844        5     N179           10

[2189981 rows x 5 columns]

scrivo in un file gli icd 9

In [10]:
file = open("./converter_icd-9/icd9.txt", "w")
for i in tqdm(range(0, len(diagnoses))):
    if(diagnoses['icd_version'][i]==9):
        file.write(diagnoses['icd_code'][i])
        file.write('\n')
        
file.close()

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 5280351/5280351 [00:38<00:00, 137849.95it/s]

eseguo uno script che mi converte i codici icd9 in icd10 (trovato cercando come effettuare la traduzione)

In [11]:
%run "./converter_icd-9/icd9to10.py" "icd9.txt"

Brian's Super Simple ICD-9-CM to ICD-10-CM converter!
Matched 3066807 codes from your list of 3090369 codes
If conversion coverage was poor or didn't work at all try running 'python icd9to10.py -h' to make sure your input is formatted properly.

In [12]:
icd = []
l = len(dfIcd9)
file2 = open("./converter_icd-9/out-icd9.txt", "r")
for i in tqdm(range(0, len(dfIcd9))):
    icd.append(file2.readline().replace("\n", ""))
    
file2.close()

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 3090370/3090370 [00:01<00:00, 2260548.90it/s]

In [13]:
len(icd)

3090370

In [14]:
icd

['icd10',
 'Z22330',
 'Z370',
 'O252',
 'O7182',
 'O76',
 'O131',
 'Z370',
 'O480',
 'O09521',
 'O610',
 'R51',
 'O321xx0',
 'O131',
 'Z370',
 'O2641',
 'Z22330',
 'Z370',
 'O360110',
 'O701',
 'O252',
 'O701',
 'Z22330',
 'O131',
 'Z370',
 'O480',
 'O252',
 'Q760',
 'Z370',
 'O6981x0',
 'O701',
 'O6981x0',
 'O701',
 'O09521',
 'Z370',
 'O480',
 'O360110',
 'O98511',
 'A609',
 'Z370',
 'O700',
 'Z370',
 'O360110',
 'O09521',
 'O6989x0',
 'Z370',
 'O252',
 'O701',
 'M5430',
 'Z22330',
 'Z370',
 'O252',
 'O4101x0',
 'O700',
 'O721',
 'Z22330',
 'O610',
 'O621',
 'O480',
 'O252',
 'Z370',
 'O131',
 'O324xx0',
 'O321xx0',
 'Z370',
 'O6981x0',
 'G35',
 'O42011',
 'O09521',
 'Z22330',
 'Z370',
 'O620',
 'O252',
 'O365110',
 'O4101x0',
 'O701',
 'Z370',
 'Z370',
 'O480',
 'D568',
 'Z9889',
 'O99011',
 'Z87798',
 'Z370',
 'O3421',
 'O368120',
 'O09511',
 'O99411',
 'O4101x0',
 'Q231',
 'Z370',
 'O7189',
 'O621',
 'D259',
 'O3411',
 'O6981x0',
 'Z370',
 'O09521',
 'O700',
 'Z370',
 'Z370',
 'O3421',
 'O360110',
 'O09521',
 'Z302',
 'Z370',
 'O480',
 'O620',
 'O610',
 'O3421',
 'Z370',
 'O701',
 'Z370',
 'O2641',
 'O480',
 'K589',
 'O321xx0',
 'O6012x0',
 'O09521',
 'Z370',
 'O365110',
 'O654',
 "'O335xx0",
 'Z370',
 'O700',
 'Z370',
 'O42011',
 'O4702',
 'O701',
 'O131',
 'Z370',
 'Z370',
 'O3421',
 'O6981x0',
 'O621',
 'O76',
 'Z370',
 'O480',
 'Z370',
 'O480',
 'O721',
 'O4101x0',
 'O09521',
 'Z370',
 'O701',
 'O898',
 'G971',
 'Z370',
 'O701',
 'O480',
 'Z370',
 'O702',
 'O252',
 'Z22330',
 'O09521',
 'O4101x0',
 'O6012x0',
 'O368120',
 'O3421',
 'Z370',
 'O752',
 'Z22330',
 'O252',
 'O480',
 'O620',
 'O2391',
 'N390',
 'O368120',
 'Z370',
 'O7182',
 'Z370',
 'O700',
 'O76',
 'E039',
 'O480',
 'O09521',
 'Z370',
 'O700',
 'O99281',
 'G5600',
 'J449',
 'K219',
 'K660',
 'I10',
 'R102',
 'N8320',
 'G4730',
 'G43909',
 'N920',
 'O691xx0',
 'Z22330',
 'O289',
 'Z370',
 'O701',
 'O252',
 'O131',
 'Z370',
 'O701',
 'O131',
 'E039',
 'O99281',
 'Z370',
 'O700',
 'O360110',
 'O358xx0',
 'O99281',
 'O3111x0',
 'O4401',
 'O0900',
 'O364xx0',
 'E0590',
 'O365110',
 'O6002',
 'O3431',
 'O6012x0',
 'O360110',
 'O321xx0',
 'O252',
 'O649xx0',
 'Z370',
 'Z22330',
 'O09521',
 'Z370',
 'O700',
 'Z370',
 'O6012x0',
 'O480',
 'Z22330',
 'O7581',
 'O09521',
 'O252',
 'Z370',
 'O3661x0',
 'O904',
 'Z370',
 'O721',
 'O700',
 'O480',
 'Z370',
 'O660',
 'E063',
 'O4101x0',
 'O700',
 'Z370',
 'O99281',
 'O691xx0',
 'N739',
 'O701',
 'O2391',
 'O480',
 'B951',
 'Z370',
 'O2511',
 'D693',
 'O610',
 'O09511',
 'Z370',
 'Z22330',
 'O252',
 'O131',
 'Z370',
 'O80',
 'Z370',
 'O4401',
 'O360110',
 'E039',
 'O702',
 'O42011',
 'Z370',
 'G43909',
 'O99281',
 'O2641',
 'O752',
 'O7581',
 'Z370',
 'O701',
 'B951',
 'Z370',
 'O09521',
 'N739',
 'O2391',
 'O6981x0',
 'O76',
 'O701',
 'Z370',
 'O24419',
 'O09521',
 'O6981x0',
 'Z370',
 'O3421',
 'O321xx0',
 'O6981x0',
 'Z370',
 'B009',
 'O98511',
 'O621',
 'O76',
 'O09511',
 'O6981x0',
 'Z370',
 'O701',
 'O252',
 'Z370',
 'Z22330',
 'Z370',
 'O360110',
 'O252',
 'Z370',
 'O252',
 'O701',
 'Z22330',
 'O6981x0',
 'O4101x0',
 'Z370',
 'O43101',
 'O6981x0',
 'O700',
 'Z370',
 'O6640',
 'O6981x0',
 'O131',
 'Z85038',
 'L03119',
 'N390',
 'I10',
 'R21',
 'F259',
 'O09521',
 'O700',
 'Z370',
 'Z370',
 'O649xx0',
 'O252',
 'Z22330',
 'D251',
 'O3411',
 'O321xx0',
 'Z370',
 'O360110',
 'O24419',
 'O09511',
 'O3661x0',
 'O480',
 'O3411',
 'D252',
 'O655',
 'O649xx0',
 'O321xx0',
 'Z370',
 'N739',
 'O621',
 'O480',
 'B951',
 'O2391',
 'O98511',
 'B009',
 'Z370',
 'G35',
 'E039',
 'N319',
 'R3914',
 'Z22330',
 'O3411',
 'Z370',
 'O09521',
 'D259',
 'O34521',
 'O252',
 'D279',
 'O2231',
 'O621',
 'O3411',
 'Z370',
 'O99111',
 'O09511',
 'D259',
 'O334xx0',
 'D6851',
 'Z370',
 'O252',
 'Z91040',
 'O3421',
 'L910',
 'Z22330',
 'Z302',
 'O252',
 'O701',
 'Z370',
 'O76',
 'O480',
 'Z370',
 'O752',
 'O700',
 'Z370',
 'O09521',
 'E6601',
 'G4733',
 'M545',
 'E785',
 '0',
 'I10',
 'O2511',
 'V4988xA',
 'R1032',
 'O9893',
 'O76',
 'Z370',
 'O701',
 'O252',
 'Z370',
 'Z22330',
 'O620',
 'Z370',
 'O3421',
 'O3421',
 'O716',
 'Z370',
 'O480',
 'Z370',
 'O752',
 'O701',
 'O76',
 'O6981x0',
 'O334xx0',
 'Z370',
 'O620',
 'O289',
 'O480',
 'Z370',
 'O334xx0',
 'O621',
 'E063',
 'O09521',
 'O30001',
 'Z372',
 'O289',
 'O4101x0',
 'O99281',
 'Z370',
 'O714',
 'Z302',
 'O6981x0',
 'O480',
 'O6981x0',
 'O3411',
 'Z372',
 'O329xx0',
 'D252',
 'O30001',
 'Z370',
 'O700',
 'Z370',
 'O3421',
 'Z370',
 'O692xx0',
 'Z91410',
 'F4310',
 'F819',
 'O2641',
 'Z370',
 'O3421',
 'Z590',
 'N8320',
 'D259',
 'D259',
 'D62',
 'O864',
 'O6012x0',
 'O3411',
 'O9903',
 'O43211',
 'Z370',
 'Z370',
 'H9190',
 'J45909',
 'O701',
 'O252',
 'O3421',
 'Z370',
 'O365110',
 'O6012x0',
 'O42011',
 'O6989x0',
 'Z370',
 'O76',
 'O6981x0',
 'O6012x0',
 'O7581',
 'D6851',
 'Z370',
 'E039',
 'O701',
 'O99281',
 'O252',
 'O76',
 'Z370',
 'Z22330',
 'Z372',
 'O09521',
 'O131',
 'O30001',
 'O3421',
 'Z370',
 'O42011',
 'O6012x0',
 'F329',
 'O99341',
 'O692xx0',
 'O3411',
 'L910',
 'O99281',
 'Z370',
 'E890',
 'D259',
 'O3421',
 'L298',
 'O26891',
 'D500',
 'O902',
 'O8823',
 'O9903',
 'Z372',
 'O30001',
 'Z302',
 'O09521',
 'K661',
 'O722',
 'Z370',
 'Z22330',
 'O252',
 'O701',
 'O252',
 'K835',
 'O714',
 'Z370',
 'O480',
 'O701',
 'Z370',
 'O10011',
 'O76',
 'O24419',
 'Z22330',
 'O99341',
 'F341',
 'Z370',
 'F4310',
 'O252',
 'O09521',
 'O3421',
 'Z370',
 'Z302',
 'O6981x0',
 'O09521',
 'O480',
 'Z370',
 'O701',
 'O09511',
 'O6989x0',
 'O2391',
 'B951',
 'N739',
 'O09521',
 'O480',
 'O701',
 'Z370',
 'O09521',
 'O701',
 'Z370',
 'O6989x0',
 'O99281',
 'Z370',
 'F419',
 'E039',
 'O99341',
 'O701',
 'O6981x0',
 'O42011',
 'Z370',
 'O7182',
 'Z590',
 'O252',
 'J45909',
 'O99331',
 'O6989x0',
 'O480',
 'O326xx0',
 'Z370',
 'O700',
 'O2511',
 'O6002',
 'B9689',
 'N760',
 'O80',
 'Z370',
 'O480',
 'Z370',
 'O700',
 'N739',
 'O2391',
 'O1402',
 'O701',
 'B951',
 'Z370',
 'O09521',
 'O111',
 'Z370',
 'E785',
 'F419',
 'O621',
 'O131',
 'O252',
 'Z370',
 'O99341',
 '0',
 'O99331',
 'O42011',
 'O620',
 'Z370',
 'O7182',
 'O700',
 'O80',
 'Z370',
 'O480',
 'O620',
 'Z370',
 'N719',
 'O8689',
 'Z370',
 'O480',
 'O99011',
 'O700',
 'D573',
 'O6012x0',
 'Z370',
 'O1412',
 'Z370',
 'O3421',
 'E039',
 'Z370',
 'O99281',
 'Z370',
 'O321xx0',
 'O131',
 'O6012x0',
 'O68',
 'O09511',
 'Z370',
 'Z22330',
 'O252',
 'O701',
 'Z370',
 'O6981x0',
 'O252',
 'Z22330',
 'O701',
 'Z370',
 'O700',
 'O6981x0',
 'O42011',
 'O2641',
 'Z370',
 'J45909',
 'O701',
 'Z370',
 'O131',
 'O09511',
 'Z370',
 'O3421',
 'O3431',
 'O42011',
 'Y92199',
 'Z370',
 'R203',
 'O99331',
 'O701',
 'J45909',
 'W19xxxA',
 'O898',
 'O368910',
 'O2341',
 'O09521',
 'Z370',
 "O3461'",
 'N9089',
 'F42',
 'O2641',
 'O131',
 'O3421',
 'O99281',
 'F419',
 'E039',
 'Z370',
 'O701',
 'Z370',
 'O09521',
 'E039',
 'O99281',
 'O701',
 'Z370',
 'O480',
 'O701',
 'Z22330',
 'Z370',
 'O99281',
 'O252',
 'O411010',
 'E039',
 'O76',
 'O99011',
 'O6981x0',
 'D509',
 'Z370',
 'O701',
 'O701',
 'O752',
 'Z370',
 'O09511',
 'O701',
 'O6981x0',
 'Z370',
 'K219',
 'E210',
 'D351',
 'R3914',
 'N400',
 'K219',
 'I10',
 'G4733',
 'O621',
 'Z370',
 'O752',
 'Z370',
 'L03319',
 'O411010',
 'O480',
 'O752',
 'O902',
 'O76',
 'E1039',
 'E11359',
 'O99285',
 'O24911',
 'Z370',
 'L03319',
 'Z22330',
 'O76',
 'O252',
 'O09511',
 'O621',
 'Z370',
 'O6981x0',
 'O701',
 'Z370',
 'O131',
 'O24419',
 'O3421',
 'Z370',
 'N401',
 'Z86718',
 'Z7901',
 'Z370',
 'O09521',
 'O700',
 'Z370',
 'O701',
 'O6012x0',
 'O700',
 'Z370',
 'O7182',
 'K120',
 'O09521',
 'O252',
 'Z22330',
 'O701',
 'O458X1',
 'Z370',
 'B951',
 'O2391',
 'O752',
 'O6981x0',
 'N739',
 'Z370',
 'O701',
 'O76',
 'E780',
 'K219',
 'I10',
 'K900',
 'M810',
 'O6981x0',
 'O700',
 'Z370',
 'O10011',
 'O701',
 'Z370',
 'O480',
 'O09521',
 'O252',
 'O649xx0',
 'O6981x0',
 'Z22330',
 'Z370',
 'O3421',
 'O321xx0',
 'O99841',
 'O6002',
 'O99341',
 'Z370',
 'O10011',
 'O09521',
 'Z370',
 'O3421',
 'O701',
 'Z370',
 'O6981x0',
 'O76',
 'O6981x0',
 'Z370',
 'O4101x0',
 'O10011',
 'O700',
 'Z370',
 'Z370',
 'O700',
 'Z418',
 'O1412',
 'O76',
 'O131',
 'Z370',
 'O30001',
 'O131',
 'O3421',
 'O3411',
 'Z372',
 'D252',
 'O09521',
 'O329xx0',
 'O480',
 'O714',
 'D62',
 'Z370',
 'O9903',
 'O701',
 'Z432',
 'K5190',
 'Z370',
 'O701',
 'O480',
 'K810',
 'N189',
 'D500',
 '0',
 'R339',
 'K2960',
 'N390',
 'G309',
 'K264',
 'D696',
 'E1129',
 'I129',
 'N08',
 'R259',
 'I952',
 'F3130',
 'K859',
 'R627',
 'F0280',
 'A047',
 'H109',
 'E890',
 'Z85850',
 'B370',
 'D62',
 'I674',
 'N179',
 'I472',
 'J189',
 'Z9861',
 'R3915',
 '0',
 'R350',
 'I10',
 'N401',
 'E780',
 'I10',
 'N812',
 'N393',
 'N320',
 'N400',
 'E039',
 'N812',
 '0',
 'E785',
 'E860',
 'I10',
 'N393',
 'M5020',
 'J449',
 'K219',
 'I10',
 'G609',
 'M1990',
 'G600',
 'J9811',
 'M24473',
 'M216X9',
 'Z370',
 'O252',
 'O701',
 'Z22330',
 'Z370',
 'O3421',
 'O09521',
 'Z302',
 'O3421',
 'Z370',
 'L119',
 'J300',
 'T190xxA',
 'Z932',
 'G8220',
 'N390',
 'L219',
 'Z1620',
 'Z9889',
 'E7439',
 'N319',
 'Z936',
 'G35',
 'N201',
 'I498',
 'Z2231',
 'D649',
 '0',
 'K449',
 'K219',
 'E785',
 'K439',
 'I10',
 'Z2251',
 'D282',
 'O09521',
 'O2641',
 'Z370',
 'O3421',
 'O700',
 'O360110',
 'O4101x0',
 'O6981x0',
 'Z370',
 'E785',
 'N393',
 'N993',
 'Z370',
 'O691xx0',
 'O701',
 'Z370',
 'O721',
 'Z22330',
 'O99341',
 'O700',
 'F1110',
 'O252',
 'Z7901',
 'I4891',
 'Z85850',
 'G20',
 'I10',
 'O721',
 'O701',
 'Z370',
 'O610',
 'O6002',
 'O131',
 'O252',
 'Z22330',
 'O09511',
 'Z370',
 'O700',
 'C73',
 'G20',
 'E876',
 'K219',
 'Z853',
 'I10',
 'F341',
 'M5106',
 'M47817',
 'F4323',
 'G9731',
 'B965',
 'K5010',
 'Z9889',
 'Y838',
 'M129',
 'B49',
 'T814xxA',
 'K660',
 'B3789',
 'K658',
 ...]

inserisco manualmente il primo codice icd tradotto dato che lo script non lo traduce

In [15]:
icd[0] = 'D573'

all'interno di questa lista ci sono tutti gli icd9 tradotti in icd10, tuttavia sono presenti codici che lo script non Ã¨ stato in grado di tradurre e delle traduzioni errate, farÃ² in modo che tutti questi valori errati vengano sostituiti con il codice 0 (il numeor di codici a 0 Ã¨ esiguo)

In [16]:
#troncamento dei codici alle prime 3 cifre ( necessarie per identificare il campo della diagnosi)
for i in tqdm(range(0, len(dfIcd9))):
    if icd[i] != '0':
        icd[i] = icd[i][0]+icd[i][1]+icd[i][2]  
    else:
        icd[i] = '0'

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 3090370/3090370 [00:01<00:00, 1764526.12it/s]

conto il numero di codici a 0 e il numero di codici errati, quelli errati li sostituisco con 0

In [17]:
count = 0
for i in range(len(icd)):
    if (ord(icd[i][0]) < ord('A') or ord(icd[i][0]) > ord('Z')) and icd[i][0] != "0":
        count += 1
        icd[i] = '0'
    elif len(icd[i]) == 3 and (icd[i][1] not in ["0","1","2","3","4","5","6","7","8","9"] or icd[i][2] not in ["0","1","2","3","4","5","6","7","8","9"]):
        count += 1
        icd[i] = '0'

In [18]:
count

3321

In [19]:
count = 0
for el in icd:
    if (ord(el[0]) < ord('A') or ord(el[0]) > ord('Z')) and el[0] != "0":
        count += 1
        
    elif len(el) == 3 and (el[1] not in ["0","1","2","3","4","5","6","7","8","9"] or el[2] not in ["0","1","2","3","4","5","6","7","8","9"]):
        count += 1

In [20]:
count

0

aggiungo una colonna al dataframe con le righe aventi codice icd9 in cui inserisco i valori delle traduzioni in icd10

In [21]:
dfIcd9['icd_10'] = icd

In [22]:
dfIcd9

         subject_id   hadm_id  seq_num icd_code  icd_version icd_10
0          15734973  20475282        3     2825            9    D57
1          15734973  20475282        2    V0251            9    Z22
2          15734973  20475282        5     V270            9    Z37
3          15734973  20475282        1    64891            9    O25
4          15734973  20475282        4    66481            9    O71
...             ...       ...      ...      ...          ...    ...
3105807    14396614  29918558        5     7242            9    M54
3105809    14396614  29918558        6    V4987            9    Z78
3105810    14396614  29918558        1    78659            9    R07
3106107    18564065  21575927        2     7840            9    R51
3106108    18564065  21575927        1    67484            9    O90

[3090370 rows x 6 columns]

riorganizzo la tabella

In [23]:
dfIcd9['icd_version'] = 10

In [24]:
df = dfIcd9[['subject_id','hadm_id','seq_num','icd_10','icd_version']]

In [25]:
dfIcd9['icd_code'] = icd

In [26]:
df = dfIcd9[['subject_id','hadm_id','seq_num','icd_code','icd_version']]

In [27]:
df

         subject_id   hadm_id  seq_num icd_code  icd_version
0          15734973  20475282        3      D57           10
1          15734973  20475282        2      Z22           10
2          15734973  20475282        5      Z37           10
3          15734973  20475282        1      O25           10
4          15734973  20475282        4      O71           10
...             ...       ...      ...      ...          ...
3105807    14396614  29918558        5      M54           10
3105809    14396614  29918558        6      Z78           10
3105810    14396614  29918558        1      R07           10
3106107    18564065  21575927        2      R51           10
3106108    18564065  21575927        1      O90           10

[3090370 rows x 5 columns]

concateno la tabella con gli icd9 convertiti e quelli che erano gia in icd10

In [28]:
dfCodes = pd.concat([df,dfIcd10], axis = 0)

In [29]:
dfCodes

         subject_id   hadm_id  seq_num icd_code  icd_version
0          15734973  20475282        3      D57           10
1          15734973  20475282        2      Z22           10
2          15734973  20475282        5      Z37           10
3          15734973  20475282        1      O25           10
4          15734973  20475282        4      O71           10
...             ...       ...      ...      ...          ...
5280346    13747041  25594844        6     R531           10
5280347    13747041  25594844        8    R0902           10
5280348    13747041  25594844        4    F1120           10
5280349    13747041  25594844        2     J189           10
5280350    13747041  25594844        5     N179           10

[5280351 rows x 5 columns]

In [30]:
df = dfCodes.copy()

eseguo il troncamento dei codici dato che ho riunito la tabella anche con la parte di codici gia icd10

In [31]:
def give_first_three(c):
    return c[:3]

In [32]:
df['icd_code'] = df['icd_code'].apply(give_first_three)

In [33]:
df

         subject_id   hadm_id  seq_num icd_code  icd_version
0          15734973  20475282        3      D57           10
1          15734973  20475282        2      Z22           10
2          15734973  20475282        5      Z37           10
3          15734973  20475282        1      O25           10
4          15734973  20475282        4      O71           10
...             ...       ...      ...      ...          ...
5280346    13747041  25594844        6      R53           10
5280347    13747041  25594844        8      R09           10
5280348    13747041  25594844        4      F11           10
5280349    13747041  25594844        2      J18           10
5280350    13747041  25594844        5      N17           10

[5280351 rows x 5 columns]

calcolo la percentuale di codici non rilevati

In [34]:
len_0 = len(df[df['icd_code'] == "0"])

In [35]:
len_0 / len(df) * 100

1.2494623936931464

converto i codici secondo il significato e li raggruppo sotto categori di diagnosi (i valori a 0 vengono classificati come "unknown")

In [36]:
def convert_icd10_to_cat(x):
    if x == "0":
        return "unknown"
    if x[0] in ["A", "B"]:
        return "infectious_parasitic"
    if x[0] == "C":
        return "neoplasms"
    if x[0] == "D":
        try:
            if int(x[1:3]) <= 49:
                return "neoplasms"
            else:
                return "blood"
        except:
            return "unknown"
    if x[0] == "E":
        return "endocrine_nutritional"
    if x[0] == "F":
        return "mental"
    if x[0] == "G":
        return "nervous_system"
    if x[0] == "H":
        try:
            if int(x[1:3]) <= 59:
                return "eye"
            else:
                return "ear"
        except:
            return "unknown"
    if x[0] == "I":
        return "circulatory"
    if x[0] == "J":
        return "respiratory"
    if x[0] == "K":
        return "digestive"
    if x[0] == "L":
        return "skin"
    if x[0] == "M":
        return "musculoskeletal"
    if x[0] == "N":
        return "genitourinary"
    if x[0] == "O":
        return "pregnancy"
    if x[0] == "P":
        return "perinatal"
    if x[0] == "Q":
        return "chromosomal"
    if x[0] == "R":
        return "abnormal"
    if x[0] in ["S", "T"]:
        return "injury_poisoning_external"
    if x[0] in ["V", "Y", "W", "X"]:
        return "morbidity_mortality_external"
    if x[0] == "Z":
        return "health_status"
    if x[0] == "U":
        return "special"

In [37]:
df["icd_diagnosis"] = df["icd_code"]

In [38]:
draft = df["icd_diagnosis"].apply(convert_icd10_to_cat)

In [39]:
draft = draft.to_frame()

In [40]:
draft

         icd_diagnosis
0                blood
1        health_status
2        health_status
3            pregnancy
4            pregnancy
...                ...
5280346       abnormal
5280347       abnormal
5280348         mental
5280349    respiratory
5280350  genitourinary

[5280351 rows x 1 columns]

In [41]:
df["icd_diagnosis"] = draft

In [42]:
df

         subject_id   hadm_id  seq_num icd_code  icd_version  icd_diagnosis
0          15734973  20475282        3      D57           10          blood
1          15734973  20475282        2      Z22           10  health_status
2          15734973  20475282        5      Z37           10  health_status
3          15734973  20475282        1      O25           10      pregnancy
4          15734973  20475282        4      O71           10      pregnancy
...             ...       ...      ...      ...          ...            ...
5280346    13747041  25594844        6      R53           10       abnormal
5280347    13747041  25594844        8      R09           10       abnormal
5280348    13747041  25594844        4      F11           10         mental
5280349    13747041  25594844        2      J18           10    respiratory
5280350    13747041  25594844        5      N17           10  genitourinary

[5280351 rows x 6 columns]

droppo le colonne che non servono

In [43]:
df.drop(labels=['subject_id', 'icd_code', 'icd_version'], axis = 1, inplace=True)

In [44]:
df

          hadm_id  seq_num  icd_diagnosis
0        20475282        3          blood
1        20475282        2  health_status
2        20475282        5  health_status
3        20475282        1      pregnancy
4        20475282        4      pregnancy
...           ...      ...            ...
5280346  25594844        6       abnormal
5280347  25594844        8       abnormal
5280348  25594844        4         mental
5280349  25594844        2    respiratory
5280350  25594844        5  genitourinary

[5280351 rows x 3 columns]

In [45]:
test = df

effettuo il one hot encoding sulla categoria di diagnosi per ogni riga del dataset

In [46]:
labels = df['icd_diagnosis'].unique()

In [47]:
labels2 = []
for elem in labels:
    tmp = 'icd_D_'+elem
    labels2.append(tmp)

In [48]:
labels2

['icd_D_blood',
 'icd_D_health_status',
 'icd_D_pregnancy',
 'icd_D_abnormal',
 'icd_D_chromosomal',
 'icd_D_infectious_parasitic',
 'icd_D_musculoskeletal',
 'icd_D_nervous_system',
 'icd_D_neoplasms',
 'icd_D_digestive',
 'icd_D_unknown',
 'icd_D_genitourinary',
 'icd_D_endocrine_nutritional',
 'icd_D_respiratory',
 'icd_D_circulatory',
 'icd_D_skin',
 'icd_D_mental',
 'icd_D_morbidity_mortality_external',
 'icd_D_ear',
 'icd_D_eye',
 'icd_D_injury_poisoning_external',
 'icd_D_perinatal']

In [49]:
def reduction(df, column, prefix):
    data = pd.get_dummies(df[column], prefix=prefix)
    
    out = pd.concat([df,data], axis = "columns")                   # Si concatena il vecchio dataframe con le nuove colonne generate
    out.drop(column, axis='columns', inplace = True)               # Si droppa la vecchia colonna utilizzata
    return out

In [50]:
test = reduction(test, 'icd_diagnosis', 'icd_D')

In [51]:
test

,hadm_id,seq_num,icd_D_abnormal,icd_D_blood,icd_D_chromosomal,icd_D_circulatory,icd_D_digestive,icd_D_ear,icd_D_endocrine_nutritional,icd_D_eye,...,icd_D_mental,icd_D_morbidity_mortality_external,icd_D_musculoskeletal,icd_D_neoplasms,icd_D_nervous_system,icd_D_perinatal,icd_D_pregnancy,icd_D_respiratory,icd_D_skin,icd_D_unknown
0,20475282,3,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,20475282,2,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,20475282,5,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,20475282,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
4,20475282,4,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5280346,25594844,6,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5280347,25594844,8,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5280348,25594844,4,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
5280349,25594844,2,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
5280350,25594844,5,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

eseguo il raggruppamento per id di ammissione e sommo le volte che il paziente Ã¨ stato diagnosticato con una patologia che rientra in una determinata categoria, calcolo inoltre il numero seq num massimo, minimo e medio (stando alla documentazione Ã¨ il valore indicativo della prioritÃ  e della gravitÃ  della diagnosi)

In [52]:
a = test.groupby('hadm_id')[labels2].sum()
b = test.groupby('hadm_id')['seq_num'].min()
tmp = pd.concat([a,b], axis=1)
tmp = tmp.rename(columns={'seq_num': 'seq_min'})

c = test.groupby('hadm_id')['seq_num'].max()
tmp = pd.concat([tmp,c], axis=1)
tmp = tmp.rename(columns={'seq_num': 'seq_max'})

d = test.groupby('hadm_id')['seq_num'].mean()
tmp = pd.concat([tmp,d], axis=1)
tmp = tmp.rename(columns={'seq_num': 'seq_mean'})

tmp.reset_index(level=0, inplace=True)

test2 = tmp.copy()

In [53]:
test2

,hadm_id,icd_D_blood,icd_D_health_status,icd_D_pregnancy,icd_D_abnormal,icd_D_chromosomal,icd_D_infectious_parasitic,icd_D_musculoskeletal,icd_D_nervous_system,icd_D_neoplasms,...,icd_D_skin,icd_D_mental,icd_D_morbidity_mortality_external,icd_D_ear,icd_D_eye,icd_D_injury_poisoning_external,icd_D_perinatal,seq_min,seq_max,seq_mean
0,20000019,1,1,0,0,1,2,0,0,0,...,0,0,0,0,0,0,0,1,12,6.5
1,20000024,1,1,0,1,0,0,1,0,0,...,0,0,1,0,1,1,0,1,10,5.5
2,20000034,1,6,0,5,0,0,1,1,0,...,0,1,0,0,0,0,0,1,28,14.5
3,20000041,0,4,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,1,10,5.5
4,20000055,0,2,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,2,1.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
521106,29999745,0,2,0,0,0,0,0,0,0,...,0,4,0,0,0,0,0,1,7,4.0
521107,29999785,0,4,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,1,5,3.0
521108,29999809,0,2,0,0,0,2,0,0,0,...,0,1,0,0,0,0,0,1,15,8.0
521109,29999828,0,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,1,8,4.5
521110,29999928,1,2,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,11,6.0

In [54]:
test2.drop('seq_min', axis=1, inplace=True)

In [55]:
test2

,hadm_id,icd_D_blood,icd_D_health_status,icd_D_pregnancy,icd_D_abnormal,icd_D_chromosomal,icd_D_infectious_parasitic,icd_D_musculoskeletal,icd_D_nervous_system,icd_D_neoplasms,...,icd_D_circulatory,icd_D_skin,icd_D_mental,icd_D_morbidity_mortality_external,icd_D_ear,icd_D_eye,icd_D_injury_poisoning_external,icd_D_perinatal,seq_max,seq_mean
0,20000019,1,1,0,0,1,2,0,0,0,...,1,0,0,0,0,0,0,0,12,6.5
1,20000024,1,1,0,1,0,0,1,0,0,...,1,0,0,1,0,1,1,0,10,5.5
2,20000034,1,6,0,5,0,0,1,1,0,...,1,0,1,0,0,0,0,0,28,14.5
3,20000041,0,4,0,0,0,0,1,0,0,...,1,0,0,0,0,0,0,0,10,5.5
4,20000055,0,2,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,2,1.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
521106,29999745,0,2,0,0,0,0,0,0,0,...,0,0,4,0,0,0,0,0,7,4.0
521107,29999785,0,4,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,5,3.0
521108,29999809,0,2,0,0,0,2,0,0,0,...,3,0,1,0,0,0,0,0,15,8.0
521109,29999828,0,1,0,1,0,0,0,0,0,...,1,0,0,0,0,0,0,0,8,4.5
521110,29999928,1,2,0,0,0,0,0,0,0,...,6,0,0,0,0,0,0,0,11,6.0

In [56]:
test2.to_csv('diag.csv', index=False)